.section__convocatory {
	width: 75vw;
	margin-left: 13em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Aspirants_conv_title {
	display: flex;
	justify-content: center;
}

.table_aspirant_in {
	background: white;
	padding: 2em;
	border-radius: 44px;
	height: fit-content;
	overflow: auto;
	margin: 7em 3em 0 7em;
}

.row_aspirants_in_conv {
	padding: 0 3em 0 3em;
	border-bottom: groove;
}
.ForwardRef-root-2 {
	height: 48px;
	display: flex;
	justify-content: space-between;
	margin: 1em;
}

.Container_Aspirant_in {
	padding-top: 6rem;
	padding-left: 6rem;
}

.Aspirants_in_convocatory {
	overflow: auto;
}

.Aspirants_in_convocatory {
	background: white;
	margin-bottom: 2rem;
	border-radius: 44px;
	height: fit-content;
}

.table-convocatory {
	padding: 7rem;
}

.section__contentC {
	margin-top: 6em;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: 13px;
}

@media screen and (max-width: 991px) {
	.section__convocatory {
		width: 74vw;
		margin-left: 4em;
	}
	.table_aspirant_in {
		background: white;
		padding: 2em;
		border-radius: 44px;
		height: fit-content;
		overflow: auto;
		margin: 7em 3em 0 3em;
	}
}
