header{
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0px 1px -90px 1px;
}

img{
  width: 16rem;
}

@media only screen and (min-width: 800px) {
  header{
    justify-content: flex-start;
  }
}